body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.penguin-navimg{
    width:  30%;
}
.nav-color {
    background-color: rgb(190, 248, 176);
}
.penguin-card {
    border: none;
}
.penguin-card-footer {
    background-color: white;
    border: none;
}
@media (max-width: 991px) { 
    .rules-and-regulation > .row {
        display: block;
    }
    .responsive-Box{
        flex-direction: column;
    }
    .box-text > h2, p {
        text-align: center;
    }

}



